@import "../../../index.scss";

.house-search-header {
  height: 400px;
  margin-top: 70px;
  width: 60%;
  padding: 0px 20%;
  display: flex;
  align-items: center;
  article {
    width: 50%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 40px;
      margin: 10px 0px;
    }
  }
  img {
    width: 40%;
    height: fit-content;
  }
}

.search-bar {
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  .search-location,
  .search-price {
    padding-right: 20px;
    p {
      font-size: 12px;
      color: $dark-gray;
      margin-bottom: 5px;
    }
    input {
      width: 300px;
      height: 40px;
      border: solid 1px $gray;
    }
  }
  button {
    width: 300px;
    height: 44px;
    margin-top: 31px;
    background-color: $blue;
    color: white;
    border: none;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.houses-container {
  h1 {
    padding: 0px 15%;
    font-size: 32px;
    margin-bottom: -50px;

  }
  border-bottom: 1px solid $gray;
}
@import "../../../index.scss";

.house-search-header {
  height: 400px;
  margin-top: 70px;
  width: 60%;
  padding: 0px 20%;
  display: flex;
  align-items: center;
  article {
    width: 50%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 40px;
      margin: 10px 0px;
    }
  }
  img {
    width: 40%;
    height: fit-content;
  }
}

.search-bar {
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  .search-location,
  .search-price {
    padding-right: 20px;
    p {
      font-size: 12px;
      color: $dark-gray;
      margin-bottom: 5px;
    }
    input {
      width: 300px;
      height: 40px;
      border: solid 1px $gray;
    }
  }
  button {
    width: 300px;
    height: 44px;
    margin-top: 31px;
    background-color: $blue;
    color: white;
    border: none;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.houses-container {
  h1 {
    padding: 0px 15%;
    font-size: 32px;
    margin-bottom: -50px;

  }
  border-bottom: 1px solid $gray;
}
