@import "../../../index.scss";


.offer-box {
  width: 90%;
  margin: 10px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 7px 7px 13px -9px rgba(66, 68, 90, 0.5);
  -moz-box-shadow: 7px 7px 13px -9px rgba(66, 68, 90, 0.5);
  box-shadow: 7px 7px 13px -9px rgba(66, 68, 90, 0.5);

  img {
    width: 100%;
    object-fit: cover;
    height: 280px;
  }
}

.main-slider-container {
  height: 500px;
  width: 70%;
  padding: 100px 15% 0px;
}
.info{
  display: flex;
  flex-direction: row;
  height: 140px;
  justify-content: space-between;
  .location, .features{
    font-size: 14px;
    margin: 5px 0px 5px 5px;
    i{
      padding-right: 10px;
    }
  }
.details-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  .btn{
    padding: 10px;
    background-color: $blue;
    color: white;
    border: 0px;
    cursor: pointer;
  }
  .price{
    font-weight: 600;
  }
}
}
.check-button{
  color: $light-blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;

}
@media (max-width: 500px){
  .main-slider-container{
    width: 96%;
    padding: 20px 2% 0px;
    .info{
      .details-box{
        padding: 0px;
        .btn{
          padding: 5px 10px;
          font-size: 10px;
        }

      }
    }
  }
}