@import "../../../index.scss";
.small{
  display: none;
}
.desktop{
  display: block;
}
.mobile{
  display: none;
}
.login-box {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 420px;
  height: auto;
  overflow-y: hidden;
  padding: 15px;
   h2 {
    padding: 10px;
    font-size: 30px;
    margin: 10px;
    text-align: center;
    color: $dark-blue;

  }
  .checkbox-box{
    display: flex;
    align-items: center;
    padding: 0px 5px;
    input{
      margin-right: 8px;
    }
    span{
      font-size: 12px;
      color: $dark-gray;
    }
  }
  .remember-password{
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
  }
  img{
    height: 50px;
    width: 150px;
    align-self: center;
    margin-top: 20px;
  }
  h3{
    margin: 10px 0px 0px 0px;
    text-align: center;
  }
 
  p{
    font-size: 14px;
    align-self: center;
    margin: 0px;
  }
  form {
    display: flex;
    padding: 15px 0px;
    flex-direction: column;
    justify-content: space-between;
    input {
      padding: 10px;
      margin: 10px 0px;
      border-radius: 15px;
      border-color: rgba(247, 247, 247, 0.315);
      background-color: rgba(247, 247, 247, 0.315);
      -webkit-box-shadow: -1px 3px 18px -7px rgba(49, 49, 49, 0.3);
      -moz-box-shadow: -1px 3px 18px -7px rgba(49, 49, 49, 0.3);
      box-shadow: -1px 3px 18px -7px rgba(49, 49, 49, 0.3);
    }
    button {
      width: 50%;
      align-self: center;
      padding: 10px;
      background-color: $blue;
      color: white;
      font-weight: 700;
      border: none;
      border-radius: 10px;
      margin: 35px 0px;
      cursor: pointer;
      &:hover {
        background-color: $dark-blue;
      }
    }
    p {
      color: $dark-gray;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.reset-box {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 25px;
    text-align: center;
    padding: 15px 0px 0px 0px;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 20px 40px 40px 40px;
    input {
      padding: 10px;
      margin: 10px 0px;
    }
    button {
      padding: 10px;
      background-color: $blue;
      color: white;
      font-weight: 700;
      border: none;
      margin: 15px 0px;
      cursor: pointer;
      &:hover {
        background-color: $dark-blue;
      }
    }
  }
}
.register-box {
  width: 420px;
  height: auto;
  overflow-y: auto;

}

@media (max-width: 1500px) {
  .small{
    display: block;
    display: flex;
    place-content: center;
    align-items: center;
  
    svg{
      font-size: 25px;
    }
  }

  .desktop{
    display: none;
  }
}


@media (max-width: 900px) {
  .mobile{
    display: block;
    display: flex;
    place-content: center;
    align-items: center;
  
    svg{
      font-size: 25px;
    }
  }
  .login-box, .register-box{
    
    h2{
      font-size: 24px;
      text-align: center;
      margin: 2px;

    }
    form{
      
      padding: 10px 0px;
    }
  }
}