@import "../../index.scss";

.nav2 {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $gray;
  -webkit-box-shadow: 1px 12px 38px -9px rgba(66, 68, 90, 0.2);
  -moz-box-shadow: 1px 12px 38px -9px rgba(66, 68, 90, 0.2);
  box-shadow: 1px 12px 38px -9px rgba(66, 68, 90, 0.2);
  img {
    height: 40px;
    margin: 13px 20px 0px;
  }
  .nav-bar2 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: $dark-gray;
    padding-right: 50px;
    align-items: center;
    font-size: 13px;
    li, .contact-link {
      padding: 0px 15px;
      color: black;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $mid-gray;
      }
    }
    .nav-login-bar2 {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      li {
        border: solid 1px $dark-gray;
        padding: 8px 14px;
        margin: 5px;
        font-weight: 600;
        &:hover {
          color: white;
          background-color: $dark-gray;
        }
      }
    }
  }
}

.nav-searcher-box {
  display: flex;
  align-items: center;
  input {
    height: 34px;
    width: 300px;
    font-size: 16px;
  }
  .nav-glass-icon {
    background-color: $blue;
    color: white;
    padding: 12px;
    cursor: pointer;
    &:hover{
        background-color: $dark-blue;
    }
  }
}
